__pycache__
env/
MailerGui/.env
MailerGui/wordprocessor.py
MailerGui/Assets/images/
MailerGui/Screens/Test_send_bulk.py
MailerGui/Interface/frame2.py
MailerGui/Interface/GUI/begin2_frame.ui
MailerGui/Assets/App Data/
venv
test.py
test_stream.py
test_stream2.py
.vscode